h1{
  color: #FF6699;
  font-family: Comic Sans MS;
}

li{
  color: #660066;
  font-family: Courier New;
}
.bike{
  color: ;
}
h2{
  color: #ff3399;
}
button{
  background:#cc66ff;
  border-radius: 5px;
  font-family:Copperplate Gothic Light;

}
/* unvisited link */
a:link {
    color: #00ccff;
}

/* visited link */
a:visited {
    color: #6600cc;
}

/* mouse over link */
a:hover {
    color: #ff6600;
}

/* selected link */
a:active {
    color: #ff6699;
}
.justify{
  text-align: justify;
  text-justify: inter-word;
}
